<header>
	<div class="row">
		<h1 class="small-12 text-center columns">DEEP DIVE: FEMINISM</h1>
	</div>
</header>
<section>
	<div class="row text-center">
		<div class="small-offset-2 small-8 columns end">
			<p class="purpose-statement">It felt about time to educate myself on the issues that are most relevant to me so, here I am- and here you are.</p> 
			<p class="purpose-statement">Race, sex, gender, feminism, pop culture, religion- it was impossible to narrow it down, so it's all here.</p>
		</div>
	</div>
</section>
<section class="library">
	<div class="row">
		<div class="small-12 columns text-center">
			<div class="book-carousel text-center">
				<i class="previous-icon fa fa-angle-left fa-5x"></i>
				<% @books.each do |book| %>
					<div class="slide">
						<a href="/books/<%=book.id%>"><img src="<%= book.image %>" alt="Book Cover" class="book-carousel__cover"></a>
						<span class="book-carousel__blurb">"<%= book.quotes.first.quotation %>"</span>
					</div>
				<% end %>
				<i class="next-icon fa fa-angle-right fa-5x"></i>
				<div class="book-carousel__nav">
					<% @books.each do |book| %>
						<div class="book-carousel__nav__dot" id="<%= book.id %>"></div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="row">
		<h3 class="small-12 columns text-center">The Influencers</h3>
	</div>
	<div class="row">
		<div class="influencer-grid">
			<% @influencers.each do |influencer| %>
		      <div class="influencer-grid__tile">
		      	<img src="<%= influencer.image %>" alt="Author Portrait" class="influencer-grid__portrait" />
		      	<div class="hide influencer-grid__bio text-center">
		      		<%= influencer.name %><br>
		      		<% influencer.books.each do |book| %>
		      			<span class="book__title--hover"><%= book.title %></span><br>
		      		<% end %>
		      	</div>
		      </div>
			<% end %>
		</div>
	</div>
</section>
<section class="quotes">
	<div class="quote js-quote-drawer" aria-controls="quote-1">
		In just a few minutes the film was able to connect her womanness with vulnerability, sensitivity, passion, security, danger, dependence, motherhood.
		<div class="quote__details hide" id="quote-1">
			<p>A chapter in Beyond the Pale describes how racial archetypes are leveraged in modern day propaganda. In this television broadcast, the Conservative Party drives home current environmental threats to society by drawing a parralel to a white woman and her baby in danger during a storm.</p>
			<p>Vron goes on to say, "[t]hese qualities and attributes were suggested primarily by her gender, but her 'race', her 'whiteness', was also working in less visible ways to reinforce the racist and masculinist ideology that informed the making of the commercial." Since reading this book, I have picked up on these ideologies of whiteness, recognizing them in advertisements and movies alike. It sneaks into casual jokes all too often, but I feel fortunate in the sense that my current workplace is miraculously filled with [male] feminists who are quick to pick up on this. A conversation will hault and break down if a genderized comment comes into play- I simply sit back and watch the debate unfold, delighted that I, for once, am not the token feminist doing my part.</p>
			<p>
				<span class="quote__source">Excerpt From: Vron Ware &amp; Mikki Kendall. <a href="https://itun.es/us/z2xX2.l">"Beyond the Pale"</a></span>
			</p>
		</div>
	</div>
	<div class="quote js-quote-drawer" aria-controls="quote-2">
		Their hearts were not heavy from overeating or drunkenness. Their minds were fully occupied with whatever they were currently working on.
		<div class="quote__details hide" id="quote-2">
			<p>From prison, Nadya of Pussy Riot tells us of the people she worked with in her actionist years. Differentiating them from your more typical person living in Moscow, she praises their enthusiasm and work ethic, "they were busy with self-education or training or taking action out of virtue."</p>
			<p>What I love about her letters from prison, is that her tone is contemplative, not defiant. It is rooted in introspection, not anger. "Philosophers should not merely describe the world, but change it. Happiness is to live by virtue. I am happy. Even here, sometimes."</p>
			<p>
				<span class="quote__source">Excerpt From: Pussy Riot. <a href="https://itun.es/us/8qzCH.l">"Pussy Riot!"</a></span>
			</p>
		</div>
	</div>
	<div class="quote js-quote-drawer" aria-controls="quote-3">
		Be assertive, but not aggressive. Be feminine, but not too passive. Be sexually adventurous, but don’t alienate men with your sexual prowess. Be honest and open, but don’t overwhelm someone with too much personal information
		<div class="quote__details hide" id="quote-3">
			<p>The ultimate paradox of sexual freedom is put on the table in Leslie Bell's book Hard to Get. A common byproduct of the confusion between contradicting societal influences is splitting, defined by Wikipedia as a behavior that "creates instability in relationships because one person can be viewed as either personified virtue or personified vice at different times, depending on whether they gratify the subject's needs or frustrate them."</p>
			<p>This black and white mentality- perhaps not to the extent of splitting- can quickly deromanticize the experience of dating and finding a compatible partner. Balancing duality of virtue and vice- or conventional and non-normative - in oneself is one thing, but compound having to find a partner who can share this duality with you, and feelings of hopelessness and lonliness begin to surface.</p>
			<p>I hope women put in the work to come to terms with what they want in life and in their relationsihps, so that by the time they hit thirty, they've passed a tipping point where only their own opinion matters and they can be liberated from the pressures Bell describes in her book. "[Women] are enjoined to remember that partnership and marriage are just around the corner, when they turn thirty, so the dating and experimentation of their twenties must result in a relationship, and must come to an end."</p>
			<p>
				<span class="quote__source">Excerpt From: Leslie Bell. <a href="https://itun.es/us/MDRDU.l">"Hard to Get"</a></span>
			</p>
		</div>
	</div>
	<div class="quote js-quote-drawer" aria-controls="quote-4">
		At the start of a romance, it’s tempting for a woman to show a more classic “girlfriendy” side by volunteering to cook meals and take care of errands. And, suddenly, we’re back in 1955.
		<div class="quote__details hide" id="quote-4">
			<p>This quote from Sheryl Sandberg hits on such a fresh wound, I can't even comment on it. I'd rather post the rest of the exerpt.
				<blockquote>
					<p>If a relationship begins in an unequal place, it is likely to get more unbalanced when and if children are added to the equation. Instead, use the beginning of a relationship to establish the division of labor, just as Nora Ephron’s dialogue in <i>When Harry Met Sally</i> reminds us:</p>
					<p>HARRY: You take someone to the airport, it’s clearly the beginning of the relationship.
					That’s why I have never taken anyone to the airport at the beginning of a relationship.</p>
					<p>SALLY: Why?</p>
					<p>HARRY: Because eventually things move on and you don’t take someone to the airport and 
					I never wanted anyone to say to me, “How come you never take me to the airport anymore?</p>
				</blockquote>
			</p>
			<p>
				<span class="quote__source">Excerpt From: Sheryl Sandberg. <a href="https://itun.es/us/wni3H.l">"Lean In"</a></span>
			</p>
		</div>
	</div>
</section>
<footer>
	<div class="row">
		<div class="small-6 columns">
			<a href="http://coyoteholdings.com/about"><%= image_tag("little-steph.jpg", size: "100") %></a>
			<span class="block creator-credit">Created by<br>Steph Lopez</span>
		</div>
		<div class="small-6 columns text-right">
			I'm currently reading<br>
			<span class="book__title"><a href="/books/<%= @current_book.id %>"><%= @current_book.title %></a></span><br>
		</div>
	</div>
</footer>
