<header>
	<div class="row">
		<h1 class="small-12 text-center columns">DEEP DIVE: FEMINISM</h1>
	</div>
</header>
<section>
	<div class="row text-center">
		<div class="small-offset-2 small-8 columns end">
			<p class="purpose-statement">It felt about time to educate myself on the issues that are most relevant to me so, here I am- and here you are.</p> 
			<p class="purpose-statement">Race, sex, gender, feminism, pop culture, religion- it was impossible to narrow it down, so it's all here.</p>
		</div>
	</div>
</section>
<section class="library">
	<div class="row">
		<div class="small-12 columns text-center">
			<div class="book-carousel text-center">
				<i class="previous-icon fa fa-angle-left fa-5x"></i>
				<% @books.each do |book| %>
					<div class="slide">
						<a href="/books/<%=book.id%>"><img src="<%= book.image %>" alt="Book Cover" class="book-carousel__cover"></a>
						<span class="book-carousel__blurb">"<%= book.quotes.first.quotation %>"</span>
					</div>
				<% end %>
				<i class="next-icon fa fa-angle-right fa-5x"></i>
				<div class="book-carousel__nav">
					<% @books.each do |book| %>
						<div class="book-carousel__nav__dot" id="<%= book.id %>"></div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="row">
		<h3 class="small-12 columns text-center">The Influencers</h3>
	</div>
	<div class="row">
		<div class="influencer-grid">
			<% @influencers.each do |influencer| %>
		      <div class="influencer-grid__tile">
		      	<img src="<%= influencer.image %>" alt="Author Portrait" class="influencer-grid__portrait" />
		      	<div class="hide influencer-grid__bio text-center"><%= influencer.name %></div>
		      </div>
			<% end %>
		</div>
	</div>
</section>
<footer>
	<div class="row">
		<div class="small-6 columns">
			<a href="http://coyoteholdings.com/about"><%= image_tag("little-steph.jpg", size: "100") %></a>
			<span class="block creator-credit">Created by<br>Steph Lopez</span>
		</div>
		<div class="small-6 columns text-right">
			I'm currently reading<br>
			<span class="book__title"><a href="/books/<%= @current_book.id %>"><%= @current_book.title %></a></span><br>
		</div>
	</div>
</footer>
