<header>
	<div class="row">
		<h1 class="small-12 text-center columns">WOMEN</h1>
	</div>
</header>
<section>
	<div class="row">
		<div class="small-6 columns">
			I'm currently reading...
		</div>
		<div class="small-6 columns">
			<span class="book__title"><%= @current_book.title %></span>
			<p>
				by 
				<% @current_influencers.each do |influencer| %>
					<span class="book__author"><%= influencer.name %></span><br>
				<% end %>
			</p>
		</div>
	</div>
</section>
<!-- CAROUSEL WITH QUOTES -->
<section>
	<div class="row">
		<h3 class="small-12 columns text-center">The Influencers</h3>
	</div>
	<div class="row">
		<!-- <ul class="small-block-grid-2 large-block-grid-4 influencer-grid"> -->
		<div class="influencer-grid">
			<% @influencers.each do |influencer| %>
		      <div class="influencer-grid__tile"><img src="<%= influencer.image %>" alt="Author Portrait" class="influencer-grid__portrait" /></div>
			<% end %>
		</div>
	</div>
</section>

<!-- SIMPLE GRID -->
<section>
	<div class="row">
		<div class="small-12 columns text-center">
			<h3>The Library</h3>
		</div>
	</div>
	<div class="row">
		<div class="small-1 columns">
			<i class="previous fa fa-angle-left fa-5x"></i>
		</div>
		<div class="small-10 columns">
				<% @books.each do |book| %>
					<div class="book-cover">
						<img src="<%= book.image %>" alt="Book Cover" class="book cover-medium">
					</div>
					<div class="book-blurb">
						<span class="quote">"This will be a quote from the book that will be top row."</span><br>
						<a href="/book/<%=book.id%>">My thoughts on <%= book.title %></a>
					</div>
				<% end %>
		</div>
		<div class="small-1 columns">
			<i class="next fa fa-angle-right fa-5x"></i>
		</div>
	</div>
</section>
