<header>
	<div class="row">
		<h1 class="small-12 text-center columns">Women.</h1>
	</div>
	<div class="row">
		<h2 class="small-3 text-center columns">Feminism</h2>
		<h2 class="small-3 text-center columns">Race</h2>
		<h2 class="small-3 text-center columns">History</h2>
		<h2 class="small-3 text-center columns">Pop Culture</h2>
	</div>
</header>
<section>
	<div class="row">
		<h3 class="small-12 columns text-center">
				I'm currently reading...
		</h3>
		<div class="row">
			<div class="small-4 columns text-center">
				<img src="<%= @current_book.image %>" alt="Book Cover" class="cover-medium">
			</div>
			<div class="small-4 columns text-center">
				<span class="title"><%= @current_book.title %></span><br>
				by <% @current_influencers.each do |influencer| %>
					<%= influencer.name %><br>
					<% end %>
			</div>
			<% @current_influencers.each do |influencer| %>
				<div class="small-4 columns text-center">
					<img src="<%= influencer.image %>" alt="Author Photo" class="portrait-medium">
				</div>
			<% end %>
		</div>
	</div>
</section>
<!-- CAROUSEL WITH QUOTES -->
<section>
	<div class="row">
		<h3 class="small-12 columns text-center">The Influencers</h3>
	</div>
	<div class="row">
		<% @influencers[0..5].each do |influencer| %>
			<div class="small-2 columns">
				<img src="<%= influencer.image %>" alt="Author Portrait" class="cover-medium">
			</div>
		<% end %>
	</div>
	<div class="row">
		<% @influencers[6..11].each do |influencer| %>
			<div class="small-2 columns">
				<img src="<%= influencer.image %>" alt="Author Portrait" class="cover-medium">
			</div>
		<% end %>
	</div>
	<div class="row">
		<% @influencers[12..-1].each do |influencer| %>
			<div class="small-2 columns">
				<img src="<%= influencer.image %>" alt="Author Portrait" class="cover-medium">
			</div>
		<% end %>
	</div>
</section>
<!-- SIMPLE GRID -->
<section>
	<div class="row">
		<div class="small-12 columns text-center">
			<h3>The Library</h3>
		</div>
	</div>
	<div class="row">
		<% @books[0..3].each do |book| %>
			<div class="small-3 columns">
				<img src="<%= book.image %>" alt="Book Cover" class="cover-medium">
			</div>
		<% end %>
	</div>
	<div class="row">
		<% @books[4..7].each do |book| %>
			<div class="small-3 columns">
				<img src="<%= book.image %>" alt="Book Cover" class="cover-medium">
			</div>
		<% end %>
	</div>
	<div class="row">
		<% @books[8..12].each do |book| %>
			<div class="small-3 columns">
				<img src="<%= book.image %>" alt="Book Cover" class="cover-medium">
			</div>
		<% end %>
	</div>
</section>
