<header>
	<div class="row">
		<h1 class="small-12 text-center columns">WOMEN'S STUDIES</h1>
	</div>
</header>
<section class="reading">
	<div class="row text-center">
		<div class="small-12 columns">
			I'm currently reading...<br>
			<span class="book__title"><%= @current_book.title %></span><br>
			<p>
				by 
				<% @current_influencers.each do |influencer| %>
					<span class="book__author"><%= influencer.name %></span><br>
				<% end %>
			</p>
		</div>
	</div>
</section>
<!-- ADD BIO AND QUTOES -->
<section>
	<div class="row">
		<h3 class="small-12 columns text-center">The Influencers</h3>
	</div>
	<div class="row">
		<div class="influencer-grid">
			<% @influencers.each do |influencer| %>
		      <div class="influencer-grid__tile">
		      	<img src="<%= influencer.image %>" alt="Author Portrait" class="influencer-grid__portrait" />
		      	<div class="hide influencer-grid__bio text-center"><%= influencer.name %></div>
		      </div>
			<% end %>
		</div>
	</div>
</section>
<section class="library">
	<div class="row">
		<div class="small-12 columns">
			<div class="book-carousel text-center">
				<i class="previous-icon fa fa-angle-left fa-5x"></i>
				<% @books.each do |book| %>
					<div class="slide">
						<a href="/books/<%=book.id%>"><img src="<%= book.image %>" alt="Book Cover" class="book-carousel__cover"></a>
						<span class="book-carousel__blurb">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere fringilla purus. Nullam leo quam, vestibulum et facilisis ac, placerat ut enim. In vehicula ut sapien id viverra."</span>
					</div>
				<% end %>
				<i class="next-icon fa fa-angle-right fa-5x"></i>
				<div class="book-carousel__nav">
					<% @books.each do |book| %>
						<div class="book-carousel__nav__dot" id="<%= book.id %>"></div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>
<footer>Bloggity blah blah</footer>
